body{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0px;
}
#header,#footer{
    background-color: black;
    color: rgb(168, 47, 2);
    align-self: center;
    font-weight: bolder;
    font-size:larger ;
}
#main{
    background-color: red;
    height: 90vh;
    display:flex;
    flex-direction: column;
}
.scores,.choiceButtons{
    align-self: center;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 50px;
}
#reset{
    background-color: red;
    height: 100px;
    width: 100px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 15px;
    display:none;
    font-weight: bolder;
}

.chocies{
    align-self: center;
    font-size: 50px;
}
.container{
    display: flex;
    font-size: 50px;
    justify-content: center;
    font-weight: bolder;
}

